.DS_Store

# SwiftPM
/.build
/.swiftpm
/Packages
Package.resolved

# Xcode
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xcuserstate

# We use xcodegen for generating Xcode projects from project.yml file
*.xcodeproj